@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-7xl;
}
h2 {
    @apply text-2xl;
}
h3,
caption {
    @apply text-2xl text-blue-700 font-semibold;
}
p {
    @apply max-w-prose;
}
.card-container {
    @apply flex flex-wrap gap-6 justify-center;
}
.card {
    @apply text-center p-4 flex flex-col transition duration-500 ease-in-out hover:shadow-2xl;
    width: 300px;
    min-width: 300px;
}

.cute-border {
    @apply border-2 rounded-xl border-blue-200;
}
th,
td {
    @apply p-2;
}
tr:nth-child(even) {
    @apply bg-blue-100;
}
